@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{

}

.container
{
    /* display:flex; */
    height: 100vh;
    width: 100vw; 
}
.header 
{
    background-color: #004175;
    padding: 5rem;
    border-bottom: #89DEEF;
    font-family: "Oswald";
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    /* need to set the size of header properly */
    
}

#page-img
{
    display:flex;
    width: 100%;
    height:auto;
}

.nav,.list,.pagelink
{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    padding: 5;
}

.paragraph
{
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; 
   margin-left: 280;
   margin-right: 280;
   font-family: "Open Sans";
   font-size: 25px;
   }

.homepara
   {
    margin-top: 36px;
   }

.adoptpara
{
    flex-wrap: wrap;
    padding-left: 60;
    padding-bottom: 40;
    justify-content: left;
    font-family: "Open Sans";
    font-size: 18px;
}

footer
   {
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       text-align: center;
       padding-top: 5rem;
       /* display: inline-block; */
       /* flex-wrap: nowrap; */
       /* background-color: #A6A9F0; */
       height: 10rem;
       /* justify-content: center; */
       /* text-align: center; */
       font-family: "Oswald";
       /* font-weight: bold; */
       font-size: 4.2rem;
       /* width: 33vw;
        height: 33vh; */
    }
    
.donate
    {
        /* width: 33vw;
        Height: 33vh; */
        /* line-height: 250px; */
        display: flex;
        flex: auto;
        background-image: linear-gradient(rgba(85, 85, 240, 0.5),rgba(85, 85, 240, 0.5)), url(/images/donate.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
.volunteer
    {
        /* width: 33vw;
        Height: 33vh; */
        /* line-height: 250px; */
        display: flex;
        flex: auto;
        background-image: linear-gradient(rgba(85, 85, 240, 0.5),rgba(85, 85, 240, 0.5)), url(/images/volunteer.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.location
    {
        /* width: 33vw;
        Height: 33vh; */
        /* line-height: 250px; */
        display: flex;
        flex: auto;
        background-image: linear-gradient(rgba(85, 85, 240, 0.5),rgba(85, 85, 240, 0.5)), url(/images/location.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

.footerlink
    {
        width: 33vw;
        Height: 50vh;
        line-height: 400px;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        color: black;
    }


.section
{
        padding: 60;
        font-family: "Open Sans";
        font-size: 2rem;
        margin-top: 20;
        flex-wrap: wrap;
        align-items: left; 
}

.contact
{
    margin-left: 60;
    font-family: "Open Sans";
    font-style: italic;
    flex-wrap: wrap;
}

.homeul
{
padding: 40;
}

.hours
{
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    margin-left:75;
}

.dogs
{
    /* display: flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin-left: 70;
    margin-right: 70;
    grid-gap: 10px;
    /* height: calc(100vh-20px); */
    /* align-items: stretch; */
}

.dog
{
    /* display: flex;
    flex-flow: row wrap; */
    flex: auto;
    /* margin:5px; */
    /* box-sizing: border-box; */
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    min-height: 33vh;
    padding: 10px;
    /* object-fit: fill; */
    /* align-items: stretch; */
}

.dogname
{
    padding: 10px;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: bold;
}

.dogimg
{
    /* max-width: 100%; */
    /* object-fit: fill; */
    width: 100%;
    height: auto;
}

.traits
{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    font-family: "Open Sans";
    font-size: 14px;
}

.trait
{
    padding: 5px;
    margin: 8px;
    border: none;
    border-radius:25px;
    background: #89deef;

}